/* Inicio.css */

.inicio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;    
    box-sizing: border-box;
}


@media (max-width: 768px) {
    .inicio-title {
        font-size: 2rem;
    }
    .inicio-subtitle {
        font-size: 1.2rem;
    }
    .inicio-container {
        padding: 1rem 0.5rem;
    }
}

@media (max-width: 480px) {
    .inicio-title {
        font-size: 1.5rem;
    }
    .inicio-subtitle {
        font-size: 1rem;
    }
}